<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.prantikv.meme"
	versionCode="4.2"
	version   = "1.0">
    <name>imageTYper</name>
    <description>
A simple gallery app to showcase the paintings of NirupamaArt	</description>
<author href="prantikv.blogspot.in" email="prantikv@yahoo.com">
Chris Griffith
</author>
    <gap:platform name="android" />
   	
    <preference name="phonegap-version" value="3.6.3" />
	
    <preference name="orientation" value="portrait" />

   	
 <!--   <gap:plugin name="com.adobe.plugins.fastcanvas" version="1.0.1" /> -->  
    
</widget>